POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=clawbot
POSTGRES_PORT=5432

PORT=8080

ACCESS_TOKEN_PRIVATE_KEY=123
ACCESS_TOKEN_PUBLIC_KEY=123
REFRESH_TOKEN_PRIVATE_KEY=123
REFRESH_TOKEN_PUBLIC_KEY=123

ACCESS_TOKEN_EXPIRED_IN=15m
REFRESH_TOKEN_EXPIRED_IN=168h

ACCESS_TOKEN_MAXAGE=900
REFRESH_TOKEN_MAXAGE=604800

EMAIL_FROM=example@gmail.com
RESEND_API_KEY=123

BCRYPT_COST=12